<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>18E226</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>mpg4</string>
				<string>mqv</string>
				<string>m4v</string>
				<string>m4b</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/mp4</string>
				<string>video/x-m4v</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-MPEG4</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mpg4</string>
				<string>M4V </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
				<string>qtl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>AppIcon.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-quicktimeplayer</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Movie-QuickTime</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
				<string>moov</string>
				<string>qtlk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>mpx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>10E125</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>18E219</string>
	<key>DTSDKName</key>
	<string>macosx10.14</string>
	<key>DTXcode</key>
	<string>1020</string>
	<key>DTXcodeBuild</key>
	<string>10E125</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
</dict>
</plist>
